/**
 * This stylesheet is used to print reveal.js
 * presentations to PDF.
 *
 * https://github.com/hakimel/reveal.js#pdf-export
 */

* {
	-webkit-print-color-adjust: exact;
}

body {
	margin: 0 auto !important;
	border: 0;
	padding: 0;
	float: none !important;
	overflow: visible;
  background-color: #222 !important;
  font-family: "Lato", Helvetica, sans-serif;
}

html {
	width: 100%;
	height: 100%;
	overflow: visible;
  background-color: #222 !important;

}

.reveal, .slides
{
  background-color: #222 !important;
}


/* Remove any elements not needed in print. */
.nestedarrow,
.reveal .controls,
.reveal .progress,
.reveal .playback,
.reveal.overview,
.fork-reveal,
.share-reveal,
.state-background {
	display: none !important;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 0 0 0 #000 !important;
  color: #fff;
}

.reveal h1, h2, h3, h4, h5, h6 {
	text-shadow: 0 0 0 #000 !important;
  color: #fff;
}

.reveal h1, h2, h3, h4 {
  color: #5ec5ed;
}

.reveal pre code {
	overflow: hidden !important;
	font-family: 'Roboto-Mono', Courier, 'Courier New', monospace !important;
}

ul, ol, div, p {
	visibility: visible;
	position: static;
	width: auto;
	height: auto;
	display: block;
	overflow: visible;
	margin: auto;
}
.reveal {
	width: auto !important;
	height: auto !important;
	overflow: hidden !important;
}
.reveal .slides {
	position: static;
	width: 100%;
	height: auto;

	left: auto;
	top: auto;
	margin: 0 !important;
	padding: 0 !important;

	overflow: visible;
	display: block;

	-webkit-perspective: none;
	   -moz-perspective: none;
	    -ms-perspective: none;
	        perspective: none;

	-webkit-perspective-origin: 50% 50%; /* there isn't a none/auto value but 50-50 is the default */
	   -moz-perspective-origin: 50% 50%;
	    -ms-perspective-origin: 50% 50%;
	        perspective-origin: 50% 50%;
}

.reveal .slides section {
	page-break-after: always !important;

	visibility: visible !important;
	position: relative !important;
	display: block !important;
	position: relative !important;

	margin: 0 !important;
	padding: 0 !important;
	box-sizing: border-box !important;
	min-height: 1px;

	opacity: 1 !important;

	-webkit-transform-style: flat !important;
	   -moz-transform-style: flat !important;
	    -ms-transform-style: flat !important;
	        transform-style: flat !important;

	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	        transform: none !important;
}

.reveal section.stack {
	margin: 0 !important;
	padding: 0 !important;
	page-break-after: avoid !important;
	height: auto !important;
	min-height: auto !important;
}

/*
.reveal .slides section .fragment.visible {
    position: relative;
		opacity: 1 !important;
		visibility: visible !important;

		-webkit-transform: translate(0, -80px) !important;
		   -moz-transform: none !important;
		    -ms-transform: none !important;
		        transform: translate(0, -80px) !important;
}
*/

.reveal img {
	box-shadow: none;
}

.reveal .roll {
	overflow: visible;
	line-height: 1em;
}

/* Slide backgrounds are placed inside of their slide when exporting to PDF */
.reveal section .slide-background {
	display: block !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;

}

.hidden {
  display: block;
}

#header-left {
 font-family: "Lato", sans-serif;
 font-weight: 900;
 font-style: bold;
 position: fixed;
 top: 10px;
 left: 20px;
 z-index: 1;
 }

/*Hide 2nd title or it will be displayed twice*/
div.backgrounds div.slide-background div#header-left {
  display: none;
}

#header-left img {
 vertical-align: top;
 height: 40px;
 background: none;
 }

#header-right {
 position: fixed;
 top: 0%;
 right: 0%;
 z-index: 1;
}

#footer-left {
 font-family: "Lato", sans-serif;
 position: fixed;
 bottom: 10px;
 left: 20px;
 z-index: 1;
}

/*Hide 2nd title or it will be displayed twice*/
div.backgrounds div.slide-background div#footer-left {
  display: none;
}

/* All elements should be above the slide-background */
/*.reveal section>* {
	position: relative;
	z-index: 1;
    color: #5ec5ed;
}*/

.reveal section img {
  border: 0px;
  box-shadow: none;
}

/* Display slide speaker notes when 'showNotes' is enabled */
.reveal .speaker-notes-pdf {
	display: block;
	width: 100%;
	max-height: none;
	left: auto;
	top: auto;
	z-index: 100;
}

/* Display slide numbers when 'slideNumber' is enabled */
.reveal .slide-number-pdf {
	display: block;
	position: absolute;
	font-size: 14px;
}

