/**
 * This stylesheet is used to print reveal.js
 * presentations to PDF with decktape.
 *
 * 
 */

.reveal .slides section .fragment.fade-out.visible {
    visibility: visible !important;
    opacity: 1 !important;
}
