.reveal .conclusion {
	display: inline-block;
	border-radius: 5px;
	border: 0px solid rgba(0, 0, 0, 0.2);
	padding: 25px 25px;
	font-weight: bold;
	background-color: #8b743d;
	color: #f7f3de;
}

.reveal .fragment {
	position: fixed;
	top: 16%;
	left: 25%;
	opacity: 0;
}

.reveal .fragment.visible {
	position: fixed;
	top: 16%;
	left: 25%;
	opacity: .95;
}
