.reveal section h2.vertical-right {
  font-size: 1.4em;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 60%;
  height: 100%;
}

.reveal section h2.vertical-left {
  font-size: 1.5em;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: 100px;
  height: 100%;
  display: none;
}

.reveal section img.center
{
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

.reveal .fragment, .reveal .fragment.visible
{
    position: static;
}

.slide_title
{
  font-size: 1.5em;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -ms-transform-origin:0 0;
  -o-transform-origin:0 0;
  transform-origin:0 0;
  white-space: nowrap;
  left: 20px;
  color: #5ec5ed;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
}

.reveal ol, .reveal dl, .reveal ul 
{
  max-width: 800px;
}