.normal
{
  display: none !important;
}

.clean
{
  display: initial !important;
}

img.clean
{
  width: 98%;
}

li.clean
{
  display: list-item !important;
}

hr.clean
{
      display: block !important;
}

.reveal section img
{
  max-height: none;
}
