#header-left {
 font-family: "Lato", sans-serif;
 font-weight: 700;
 font-style: normal;
 position: absolute;
 font-size: 1em;
 top: 10px;
 left: 20px;
}

#header-left img {
 vertical-align: top;
 height: 40px;
}

#header-right {
 position: absolute;
 top: 0%;
 right: 0%;
}
#footer-left {
 position: absolute;
 font-size: 0.8em;
 bottom: 10px;
 left: 20px;
}

.reveal section img.logo {
  border: 0px;
  margin-right: 0px;
  height: 45px;
  position: relative;
  opacity: 1;
  background: none;
  top: -7px;
  right: -5px;
}

.reveal div.logo {
 font-family: "Lato", sans-serif;
 font-weight: 700;
 font-style: normal;
 font-size: 1.6em;
}


