.reveal section h2.vertical-right {
  font-size: 1.4em;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 60%;
  height: 100%;
}

.reveal section h2.vertical-left {
  font-size: 1.5em;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: 100px;
  height: 100%;
  display: block;
}

.reveal section img.center
{
  display: block;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

.reveal section img.c420
{
  display: block;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  max-height: 420px;
  border: none;
  background: none;

}

.reveal section img.m720 {
  max-height: 720px;
}

.reveal section img.nobr300
{
  display: block;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
  border: none;
  background: none;
}

.reveal section img.nobr
{
  display: block;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: none;
}

.reveal .fragment, .reveal .fragment.visible
{
  position: static;
}

.slide_title
{
  font-size: 1.5em;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  -ms-transform-origin:0 0;
  -o-transform-origin:0 0;
  transform-origin:0 0;
  white-space: nowrap;
  left: 20px;
  color: #5ec5ed;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
}

.reveal ol, .reveal dl, .reveal ul
{
  max-width: 800px;
}

.reveal blockquote
{
  font-size: 24px;
}

table.vmiddle tr, table.vmiddle tr th, table.vmiddle tr td
{
  vertical-align: middle;
}

table.hmiddle tr, table.hmiddle tr th, table.hmiddle tr td
{
  text-align: center;
  font-size: 24px;
}

img.auto
{
  width: 24px !important;
}

.reveal section img
{
  margin-right: 0;
}
