.reveal section img.m820 {
  max-height: 820px;
}

.reveal section img.m800 {
  max-height: 800px;
}

.reveal section img.m720 {
  max-height: 720px;
}

.reveal section img.m600 {
  max-height: 600px;
}

.reveal section img.m550 {
  max-height: 550px;
}

.reveal section img.m500 {
  max-height: 500px;
}

.reveal section img.m480 {
  max-height: 480px;
}

.reveal section img.w712 {
  width: 712px;
}
.reveal section img.w600 {
  width: 600px;
}
.reveal section img.w500 {
  width: 500px;
}
.reveal section img.w300 {
  width: 300px;
}

.reveal section img.w220 {
  width: 220px;
}

.reveal section img.w120 {
  width: 120px;
}

.reveal section img.w48 {
  width: 48px;
}

.reveal section img.vac {
  vertical-align: middle;
}

.reveal section img.white {
  background: #fff;
}

.reveal section img.no-border-tr {
  border:none;
  background:rgba(255, 255, 255, 0.0);
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.0);
}

.reveal section img.no-border {
  border:none;
  background:rgba(255, 255, 255, 0.05);
}

.reveal table td.c900 {
  text-align: center;
  width:900px;
}
.reveal table td.c720 {
  text-align: center;
  width:720px;
}

.reveal table td.c712 {
  text-align: center;
  width:720px;
}

.reveal table td.c600 {
  text-align: center;
  width:600px;
}

.reveal table td.c400 {
  text-align: center;
  width:400px;
}
.reveal table td.c300 {
  text-align: center;
  width:300px;
}
