.reveal section img
{
  margin-right: 0;
}

.slide_title
{
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  font-size: 2em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  white-space: nowrap;
  color: #5ec5ed;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  visibility:hidden;
}

#slide_title_left
{
  left: 20px;
}

.reveal section h2.vertical-left
{
  display: none;
}

#header-left .twitter
{
  font-size: 0.8em;
  font-weight: normal;
  font-family: "Lato", Helvetica, sans-serif;
}

#image_for_clean_section
{
  max-width: 100;
  position: absolute;
}

.clean
{
  display: none !important;
}

.big
{
  font-size: 2em !important;
}
