.reveal section h2.vertical-right {
  font-size: 1.4em;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-left: 60%;
  height: 100%;
}

.reveal section h2.vertical-left {
  font-size: 1.5em;
  position: absolute;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  margin-left: 0;
  height: 100%;
}

.reveal section img.center
{
    display: block;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
}

.reveal .fragment, .reveal .fragment.visible
{
    position: static;
}
